<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.idollapp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">


        <activity
            android:name=".user.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.idollapp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.idollapp.main.MainActivity" />
        <activity android:name="com.example.idollapp.goods.GoodsDetailsActivity" />
        <activity android:name="com.example.idollapp.settlement.SettlementActivity" />
        <activity android:name="com.example.idollapp.address.AddAddressActivity" />
        <activity android:name="com.example.idollapp.address.ManagerAddressActivity" />
        <activity android:name="com.example.idollapp.search.SearchResultActivity" />
        <activity android:name="com.example.idollapp.user.userinfo.UserInfoActivity" />
        <activity android:name="com.example.idollapp.order.OrderListActivity" />
        <activity android:name="com.example.idollapp.order.OrderDetailsActivity" />
        <activity android:name="com.example.idollapp.address.EditAddressActivity" />
        <activity android:name="com.example.idollapp.settlement.PaymentActivity" />
        <activity android:name="com.example.idollapp.collection.CollectionListActivity" />
        <activity android:name="com.example.idollapp.order.OrderManagerActivity" />
    </application>

</manifest>